@import 'vars';

.header {
   padding: 30px 0;
   position: fixed;
   z-index: 5;
   top: 0;
   left: 0;
   width: 100%;
   transition: all 0.4s ease;

   &.fixed {
      padding: 20px 0;
      background-color: rgba(0, 0, 0, 0.76);
      z-index: 5;
      backdrop-filter: blur(4px);
      color: $textColor;

      &.show {
         padding: 30px 0 20px;
      }
   }
}

.wrapper.light {
   .header.fixed {
      .theme {
         background-color: #fff;
      }
   }
}

.header__content {
   display: flex;
   justify-content: space-between;
}

.header__logo {
   font-weight: 900;
   font-size: 22px;
   line-height: 26px;

   span {
      color: $otherColor;
   }
}

.header__list {
   display: flex;
}

.header__item {
   text-transform: capitalize;
   font-weight: 900;
   font-size: 20px;
   line-height: 26px;
   transition: all 0.3s ease;
   margin-right: 25px;

   &.active,
   &:hover {
      color: $otherColor;
   }

   &:last-child {
      margin-right: 0;
   }
}

.header__nav {
   display: flex;
}

.theme {
   width: 28px;
   height: 28px;
   background-color: #292929;
   border-radius: 50%;
   cursor: pointer;
   position: relative;
   left: 15px;
   transition: all 0.3s ease;

   .dark {
      display: block;
      width: 38px;
      position: absolute;
      top: -5px;
      left: -5px;
   }

   .light {
      display: none;
   }
}

.menu {
   display: none;
}

.wrapper.light {
   .theme {
      background-color: #CDCDCD;

      .dark {
         display: none;
      }

      .light {
         display: block;
         width: 22px;
         position: absolute;
         top: 3px;
         left: 3px;
      }
   }

   .menu {
      path {
         fill: #000;
      }
   }

   .header.fixed {
      .menu {
         path {
            fill: #fff;
         }
      }
   }
}

@media (max-width: 930px) {
   .header__logo {
      font-size: 20px;
   }

   .header__list {
      position: absolute;
      top: -50px;
      left: 0;
      width: 100%;
      justify-content: center;
      transition: all 0.4s ease;
   }

   .header__list.show {
      top: 3px;
   }

   .header__item {
      font-size: 18px;

      &:hover {
         color: $textColor;
      }

      &.active {
         color: $otherColor;
      }
   }

   .theme {
      left: 0;
      margin-right: 15px;
   }

   .menu {
      display: block;
      width: 26px;
      height: 26px;
      cursor: pointer;
   }
}

@media (max-width: 630px) {
   .header__logo {
      font-size: 18px;
   }

   .header__item {
      font-size: 14px;
      margin-right: 10px;
   }
}